# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
# Environments
.env
.venv/
venv/
ENV/
env/
.*.swp
# macOS
.DS_Store
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
# Node
node_modules/
